{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div id="bcontact">

    <div class="container" >
    <h1 class="row justify-content-center">  </h1>



        {% for message in app.flashes('succes') %}
            <div class="alert alert-succes" >
                {{ message }}
            </div>
        {% endfor %}

        {{ form_start(form) }}
        {{ form_row(form.name,{'label':'Name','attr':{'placeholder':'votre nom '}}) }}
      {{ form_row(form.email,{'label':'Email','attr':{'placeholder': ' votre adresse email'}}) }}
      {{ form_row(form.message,{'label':'Message','attr':{'placeholder':'Veuillez saisir votre message'}}) }}

        <input type="submit" id="" value="Envoyer" class="btn btn-lg btn-success btn-block">
        {{ form_end (form)}}





{% endblock %}