{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <div class="container" >
    <h1 class="row justify-content-center">  </h1>

    {{ form_start(form) }}

    {{ form_row(form.name,{'label':'Name','attr':{'placeholder':'votre nom '}}) }}
    {{ form_row(form.email,{'label':'Email','attr':{'placeholder': ' votre adresse email'}}) }}
    {{ form_row(form.numero,{'label':'Numero','attr':{'placeholder':'Veuillez saisir votre numero de telephone'}}) }}

    <input type="submit" id="" value="Envoyer" class="btn btn-lg btn-success btn-block">
    {{ form_end (form)}}






{% endblock %}