<h1>Nouveau message provenant de "monsite.fr"</h1>

<ul>
    <li>{{ datas.email }}</li>
    <li>{{ datas.object }}</li>
</ul>

<p>{{ datas.content }}</p><h1>Nouveau message provenant de "monsite.fr"</h1>

<ul>
    <li>{{ datas.email }}</li>
    <li>{{ datas.object }}</li>
</ul>

<p>{{ datas.content }}</p>